body {
    background-color: lightgray;
}
.nav {
    width: 100%;
    height: auto;
}
.box {
    margin: 10px;
    width: 60px;
    height: 60px;
    background-color: rgb(0, 64, 255);
}

.text {

    text-align: center;
    padding: 40px 60px;
    background-color: white;
}

.blue {
    width: 100%;
    height: 100px;
    background-color: blue;
}
.green {
    width: 100%;
    height: 100px;
    background-color: green;
}
.lightgreen {
    width: 100%;
    height: 100px;
    background-color: rgb(43, 255, 0);
}
.yellow {
    width: 100%;
    height: 100px;
    background-color: rgb(255, 251, 0);
}